<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- NUEVO: Aquí guardamos la cadena de conexión de forma segura -->
	<connectionStrings>
		<add name="CadenaSQL"
             connectionString="Server=localhost,1433;Database=SuperMercadoDB;User Id=sa;Password=Contraseña123!;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>